{{- $secrets := joinPath .chezmoi.sourceDir "dot_config/exact_zsh/encrypted_secrets.zsh" | include | decrypt -}}
{{- range regexFindAll `(?m)^(GITHUB_TOKEN|FORGEJO_TOKEN)=[^\r\n]*` $secrets -1 }}
{{ . }}
{{- end }}
