{
  "$schema": "https://opencode.ai/config.json",
  "snapshot": false, 
  "default_agent": "build",
  "instructions": ["CLAUDE.local.md"],
  "disabled_providers": [
    "github-models",
    "github-copilot-enterprise",
    "amazon-bedrock",
    "github-copilot",
    {{- if eq .machine "picard" }}
    "opencode"
    {{- end }}
  ],
  "lsp": {
    "haskell-language-server": {
      "command": [],
      "extensions": [
        ".hs"
      ]
    },
    "tsgo": {
      "command": [],
      "extensions": [
        ".ts",
        ".tsx",
        ".js",
        ".jsx"
      ]
    }
  },
  "mcp": {
    "forgejo": {
      "type": "local",
      "command": ["forgejo-mcp", "--url", "https://git.rileymathews.com"],
      "enabled": true
    },
    "blender": {
      "type": "local",
      "command": ["uv", "--directory", "/home/riley/code/blender_mcp/mcp", "run", "blender-mcp"],
      "enabled": true
    },
    "linear": {
      "type": "remote",
      "url": "https://mcp.linear.app/mcp"
    },
    "notion": {
      "type": "remote",
      "url": "https://mcp.notion.com/mcp"
    },
    "honeycomb": {
      "type": "remote",
      "url": "https://mcp.honeycomb.io/mcp",
      "oauth": {}
    },
    "sentry": {
      "type": "remote",
      "url": "https://mcp.sentry.dev/mcp",
      "oauth": {}
    }
  },
  "provider": {
    {{- if eq .machine "ds9" }}
    "opencode": {
      "blacklist": [
        "gpt-5.5",
        "gpt-5.5-pro",
        "gpt-5.4",
        "gpt-5.4-pro",
        "gpt-5.4-mini",
        "gpt-5.4-nano",
        "gpt-5.3-codex-spark",
        "gpt-5.3-codex",
        "gpt-5.2",
        "gpt-5.2-codex",
        "gpt-5.1",
        "gpt-5.1-codex-max",
        "gpt-5.1-codex",
        "gpt-5.1-codex-mini",
        "gpt-5",
        "gpt-5-codex",
        "gpt-5-nano"
      ]
    }
    {{- end }}
    {{- if eq .machine "picard" }}
    "litellm": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "kosmic",
      "options": {
        "baseURL": "https://ai.kosmic.internal/v1"
      },
      "models": {
        "minimax-m2.5": {
          "name": "Minimax m2.5"
        },
        "claude-opus-4-8": {
          "name": "Claude Opus 4.8"
        },
        "openai/gpt-5.5-pro": {
          "name": "GPT 5.5 Pro"
        }
      }
    }
    {{- end }}
  },
  "permission": {
    "bash": {
      "make *": "ask",
      "*": "allow"
    },
    "external_directory": {
      "~/code/**": "allow",
      "~/.config/**": "allow",
      "~/.local/**": "allow",
      "~/.cache/**": "allow",
      "~/.cargo/**": "allow",
      "~/.bun/**": "allow",
      "~/Documents/**": "allow",
      "~/Downloads/**": "allow"
    }
  }
}
