$cp-rosewater: #f5e0dc;
$cp-flamingo: #f2cdcd;
$cp-pink: #f5c2e7;
$cp-muave: #cba6f7;
$cp-red: #f38ba8;
$cp-maroon: #eba0ac;
$cp-peach: #fab387;
$cp-yellow: #f9e2af;
$cp-green: #a6e3a1;
$cp-teal: #94e2d5;
$cp-sky: #89dceb;
$cp-sapphire: #74c7ec;
$cp-blue: #89b4fa;
$cp-lavender: #b4befe;
$cp-text: #cdd6f4;
$cp-subtext1: #bac2de;
$cp-subtext0: #a6adc8;
$cp-overlay2: #9399b2;
$cp-overlay1: #7f849c;
$cp-overlay0: #6c7086;
$cp-surface2: #585b70;
$cp-surface1: #45475a;
$cp-surface0: #313244;
$cp-base: #1e1e2e;
$cp-mantle: #181825;
$cp-crust: #11111b;

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: Hack Nerd Font;
  font-size: 1.25rem;
}

//Global Styles
.main_bar {
  background-color: $cp-base;
  color: $cp-text;
  padding: .125rem 1rem;
}

.right_bar {
  background-color: $cp-crust;
  padding: .125rem 1rem;
  border-radius: 1rem;
}
.left_bar {
  background-color: $cp-crust;
  padding: .125rem 1rem;
  border-radius: 1rem;
}

.greeter {
  color: $cp-yellow;
  border-bottom: 2px solid $cp-yellow;
}

.disk {
  color: $cp-peach;
  border-bottom: 2px solid $cp-peach;
}

.cpu {
  color: $cp-green;
  border-bottom: 2px solid $cp-green;
}

.ram {
  color: $cp-muave;
  border-bottom: 2px solid $cp-muave;
}

.updates {
  color: $cp-red;
  border-bottom: 2px solid $cp-red;
}

.workspace {
  >.ws-btn {
    padding: 0 .5rem;
    border: 2px solid $cp-overlay0;
    border-radius: 1rem;
    margin: 0 .25rem;
    &.focused {
      border: 2px solid $cp-lavender;
    }

    &.urgent {
      border: 2px solid $cp-yellow;
    }
  }
}
