encryption = "age"

[age]
{{- if eq .chezmoi.hostname "lapp" }}
identity = "~/.config/chezmoi/age-work.key"
{{- else }}
identity = "~/.ssh/id_ed25519"
{{- end }}
recipients = [
    "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFgBrMhlYyFQuzLE2dEIJ/vEEN769EiPrpKYVzBKERoe rileymathews80@gmail.com",
    "age1463xuz4p2tqw88l9j7e4y72hush77az3l7ks8x55tuv4kymm7y9sy3np6x",
    "age1q8v2mtccpt68h9d6ankk4d88pedv995x9zg362x2jw084pcc2dassswc0w",
]

[data]
machine = "ds9"
